* { margin:0; padding:0; } /* to remove the top and left whitespace */

html,
body,
#__next {
  height: 100vh;
  overflow-y: hidden;
  background: rgb(245, 229, 163);
  background: linear-gradient(0deg, rgb(245, 229, 163) 0%, rgb(252, 247, 225) 100%);
}
